@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topcorner{
  position:absolute;
  top:10px;
  right: 10px;
}
.topLeftcorner{
  position:absolute;
  top:10px;
  left: 10px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: thin;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
p {
  font: 16pt helvetica, arial, sans-serif;
  color: white;
}

.card h5 {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;

}
.row-padding {
  padding-top: 20px;
}

img {
  float: left;
  padding-right: 20px;
}

.card {
  border-radius: 0;
  background:linear-gradient(135deg, #e7cfff 0%,#71c9e6 100%);
  padding: 25px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* SONG REC LINK STYLING */
.recLink {
  box-shadow: inset 0 0 0 0 #d0e5de;
  color: #42555e;
	padding: 0;
	margin: 0;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  display: inline-block;
  white-space: nowrap;
  width: auto;
}
.recLink:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #2d302f;;
}
/* Presentational styles */
.recLink{
	color: #1e333b;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
	font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}


/* BUTTON-86 STYLING */
.button-86 {
  all: unset;
  width: 160px;
  height: 50px;
  font-size: 30px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Poppins', sans-serif;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* list styles */
.list {
  width: 500px;
  margin: 20px auto;
}

ol {
  list-style: none;
  color: #ccc;
}

ol li {
  font: bold 40pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
  font: 16pt helvetica, arial, sans-serif;
  color: #555;
}

span {
  line-height: 25px;
}
  